@Model IEnumerable<Department>

<h1>Index</h1>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
   </tr>
    
   @foreach(Department department in Model){
        <tr>
            <td>@department.Dept_id</td>
            <td>@department.Dept_Name</td>
            </tr>
        }

    </table>
